.game-card{
    max-width: 500px;
    border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        background: #fff;
        margin: 0;
}
.game-card img {
    max-width: 100%;
}