.game-card {
    min-height: 500px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    margin: 0;
    position: relative;
}

.game-card:hover {
    background-color: #f0f0f0;
}

.game-card .ant-card-body {
    height: 100%;
}

.game-card img {
    height: 150px;
    width: 100%;
    object-fit: cover;

}